
    
    {{!-- {{#each recipes as | recipe |}} --}}
    {{!-- looping each recipe --}}
<div class="card" style="width: 300px;">
  <div class="card-divider">
    
    
    {{recipe.recipe_name}}
  </div>
  <img src="assets/placeholder-pic.jpeg">
  <div class="card-section">
    <h4>{{recipe.recipe_name}}</h4>
    <p>{{recipe.recipe_description}}</p>
  </div>

</div>
     {{!-- {{/each}} --}}

<div class="button-group">
  <a href="/{{prev}}" class="button"><</a>
  <a href="/{{next}}" class="button">></a>
</div>

 <div>
     <button class="button" type="button" data-toggle="example-dropdown"> Write a Review</button>
     
    <div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">

    <form>
      <br />
      <label for='recipe_name'>
        Recipe name here 
        {{recipe_name}}
      </label>
      <br />

      <br />
      <label for='description'>
        Review:
      </label>
      <br />
      <textarea id='review' name='review' rows='5' cols='30'>
        {{review}}
      </textarea>
      <br />
      <label for='user_name'>
        User Name:
      </label>
      <br />
      <textarea id='user_name' name='user_name' rows='2' cols='30'>
        {{user_name}}
      </textarea>
      <br />
      <br />
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>

  </div>

 </div>    

{{!-- <div class='review-container'>

    <form class='review-recipe-form'>
      <br />
      <label for='recipe_name'>
        Recipe name here 
        {{recipe_name}}
      </label>
      <br />

      <br />
      <label for='description'>
        Review:
      </label>
      <br />
      <textarea id='review' name='review' rows='5' cols='30'>
        {{review}}
      </textarea>
      <br />
      <label for='user_name'>
        User Name:
      </label>
      <br />
      <textarea id='user_name' name='user_name' rows='2' cols='30'>
        {{user_name}}
      </textarea>
      <br />
      <br />
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>

  </div> --}}
