<div class='menu-container'>
  <div class='card-header col-md-10'>
    <h2>
      <img class="food-pic" src="assets/placeholder-pic.jpeg" alt="food" width="300" height="300">
    </h2>
  </div>
  {{#each recipe as |recipes|}}
    <div class='dish col-md-5'>
      <p>
        {{recipe.id}}.
        {{recipes.recipe_name}}
      </p>
    </div>
    <div class='col-md-7'>
      <p>
        Description
        {{recipes.recipe_description}}
      </p>
    </div>
  {{/each}}

  <div class='add-dish-container'>
    <h2>
      Swipe to see recipes
    </h2>

    <button class='review-button'> Write a Review</button>

    <form class='review-recipe-form'>
      <br />
      <label for='recipe_name'>
        Recipe name here 
        {{recipe_name}}
      </label>
      <br />

      <br />
      <label for='description'>
        Review:
      </label>
      <br />
      <textarea id='review' name='review' rows='5' cols='30'>
        {{review}}
      </textarea>
      <br />
      <label for='user_name'>
        User Name:
      </label>
      <br />
      <textarea id='user_name' name='user_name' rows='2' cols='30'>
        {{user_name}}
      </textarea>
      <br />
      <br />
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>

  </div>
</div>